<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="/auth/login" method="POST">

      <div class="form-row">
        <label for="eMail">Email</label>
        <input
          type="email"
          placeholder="enter your email"
          id="eMail"
          name="email"
        />
      </div>

      <div class="form-row">
        <label for="UserName">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="enter your password"
        />
      </div>

      <div class="form-row">
        <button type="submit">Login</button>
      </div>
      <a href="/register">Register</a>
    </form>
  </body>
  <script src="script.js"></script>
</html>