<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{desc}}</h1>
    <h2>You now have an account,
      <a
        target="_blank"
        href="https://documenter.getpostman.com/view/29248151/2s9YsDkaEd#2c895d39-04b8-4588-afbc-0885fcdebef7"
      >go to documents</a>
    </h2>
  </body>
  <script src="script.js"></script>

</html>